<h2>Item Details</h2>

<dl class="dl-horizontal">
    <dt>
        Title
    </dt>

    <dd>
        {{ item.Title }}
    </dd>

    <dt>
        Author
    </dt>

    <dd>
        {{ item.AuthorsDesc }}
    </dd>

    <dt class="ul-like">
        Subject(s)<br ng-repeat="subject in item.Subjects track by subject.Value" />
    </dt>

    <dd>
        <ul class="list-unstyled">
            <li ng-repeat="subject in item.Subjects track by subject.Value">
                <span>{{ subject.Text + (($index < item.Subjects - 1) ? "," : "") }}</span>
            </li>
        </ul>
    </dd>

    <dt>
        Location
    </dt>

    <dd>
        {{ item.Location.Text }}
    </dd>

    <dt>
        Call Number
    </dt>

    <dd>
        {{ item.CallNum }}
    </dd>

    <dt>
        Summary
    </dt>

    <dd>
        {{ item.Summary }}
    </dd>

    <dt>
        Media Type
    </dt>

    <dd>
        {{ item.MediaType.Text }}
    </dd>

    <dt>
        Editions
    </dt>

    <dd>
        {{ item.EditionsCount }}
    </dd>

    <dt>
        Copies
    </dt>

    <dd>
        {{ item.CopiesCount }}
    </dd>

    <dt>
        Reserves
    </dt>

    <dd>
        {{ item.ReservesCount }}
    </dd>

    <dt>
        Last Checked Out
    </dt>

    <dd>
        {{ item.LastCheckedOut > nullDate ? item.LastCheckedOut : null | date }}
    </dd>

    <dt>
    </dt>

    <dd>
        <i class="glyphicon" ng-class="{ 'glyphicon-lock': item.Reference }"></i>
        {{ item.Reference ? 'Reference (in library use only)\n' : '' }}
        <i class="glyphicon" ng-class="{ 'glyphicon-remove-circle': item.Restricted }"></i>
        {{ item.Restricted ? "Restricted (needs approval for access)" : "" }}
    </dd>
</dl>
<div style="text-align: right">
    <button type="button" class="btn btn-primary" ng-click="ctrl.actionItem()">{{ primaryAction }}</button>
    <button type="button" class="btn btn-default" ng-click="ctrl.close()">Close</button>
</div>

