@model Librarian.Models.Author
<input class="author-id-container" type="hidden" value="@Model.ID" />
<div ng-controller="authorDetailCtrl as detail">
    <dl class="dl-horizontal">
        <dt>
            First Name
        </dt>

        <dd>
            {{ detail.author.FirstName }}
        </dd>

        <dt>
            Last Name
        </dt>

        <dd>
            {{ detail.author.LastName }}
        </dd>

        <dt>
            Suffix
        </dt>

        <dd>
            {{ detail.author.Suffix }}
        </dd>
    </dl>
</div>
