<div ng-controller="authorDetailCtrl as detail">
    <dl class="dl-horizontal">
        <dt>
            First Name
        </dt>

        <dd>
            {{ detail.authorData.currAuthor.FirstName }}
        </dd>

        <dt>
            Last Name
        </dt>

        <dd>
            {{ detail.authorData.currAuthor.LastName }}
        </dd>

        <dt>
            Suffix
        </dt>

        <dd>
            {{ detail.authorData.currAuthor.Suffix }}
        </dd>
    </dl>
</div>
