@model Librarian.Models.Author

<div>
    <h4>Author</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            First Name
        </dt>

        <dd>
            {{ author.FirstName }}
        </dd>

        <dt>
            Last Name
        </dt>

        <dd>
            {{ author.LastName }}
        </dd>

        <dt>
            Suffix
        </dt>

        <dd>
            {{ author.Suffix }}
        </dd>

    </dl>
</div>
<p>
    (Edit)
    (Close)
</p>
