body {
    padding-top: 50px;
    padding-bottom: 20px;
}

td.unloaded {
    background-image: url('magnify.gif');
    background-position: center;
    background-repeat: no-repeat;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.li-actionable:hover {
    background-color: #f5f5f5;
}

.li-actionable i {
    visibility: hidden;
}

.li-actionable:hover i {
    visibility:  visible;
}

.virtual-scroll-container {
    overflow-y: scroll;
    vertical-align: top;
}

.virtual-scroll-content {
    float: right;
    vertical-align: top;
    width: 99%;
}

.virtual-height {
    width: 1%;
    float: left;
}

/* Set width on the form input elements since they're 100% wide by default */
/*
input,
select,
textarea {
    max-width: 280px;
}*/
