/* get rid of yellow background for autofill on chrome */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

td.unloaded {
    background-image: url('../images/magnify.gif');
    background-position: center;
    background-repeat: no-repeat;
    height: 48px;
}

dt.ul-like {
    padding-bottom: 10px;
}

dt:nth-of-type(odd),dd:nth-of-type(odd) {
    background-color: #f9f9f9;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

ul.boxy {
    border: solid 1px rgb(221,221,221);
    border-radius: 4px;
    overflow-y: scroll;
}

ul.list-striped {
    padding: 0;
}

ul.list-striped li:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

ul.list-striped li:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

li.li-actionable:hover div,.li-actionable:hover span {
    background-color: #f5f5f5;
}

ul.list-striped li.li-actionable:nth-child(odd):hover {
    background-color: #f5f5f5;
}

ul.list-striped li:nth-child(odd) {
    background-color: #f9f9f9;
}

li.li-actionable:hover span.actions {
    float: right;
    display: block;
    width: 20%;
}

.li-actionable span.actions {
    text-align: right;
    display: none;
}

ul.list-actionable {
    white-space: nowrap;   
}

ul.list-striped li div {
    padding-left: 15px;
    padding-right: 15px;
}


.li-actionable span.li-content {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    float: left;
}

.li-actionable:hover span.li-content {
    width: 74%;
    float: left;
}
